In [1]:
import influxdb_client, os, time
from influxdb_client import InfluxDBClient, Point, WritePrecision
from influxdb_client.client.write_api import SYNCHRONOUS

token = "RIZZsgptkpmFaqmapGn55oDyEDKVC9kDS1FkY7iLNLUINCcnpTcVTRdDAFSWmVqjUBpSo5fWuDBCGRPHYUfO2A=="
org = "metaportalweb@gmail.com"
url = "https://us-east-1-1.aws.cloud2.influxdata.com"

client = influxdb_client.InfluxDBClient(url=url, token=token, org=org)

In [2]:
query_api = client.query_api()

query = """from(bucket: "metaportalweb@gmail.com/autogen")
 |> range(start: -10000000000m)"""


dfs = query_api.query_data_frame(query, org="metaportalweb@gmail.com")

/opt/homebrew/lib/python3.9/site-packages/influxdb_client/client/warnings.py:31: MissingPivotFunction: The query doesn't contains the pivot() function.

The result will not be shaped to optimal processing by pandas.DataFrame. Use the pivot() function by:

    from(bucket: "metaportalweb@gmail.com/autogen")
 |> range(start: -10000000000m) |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")

You can disable this warning by:
    import warnings
    from influxdb_client.client.warnings import MissingPivotFunction

    warnings.simplefilter("ignore", MissingPivotFunction)

For more info see:
    - https://docs.influxdata.com/resources/videos/pivots-in-flux/
    - https://docs.influxdata.com/flux/latest/stdlib/universe/pivot/
    - https://docs.influxdata.com/flux/latest/stdlib/influxdata/influxdb/schema/fieldsascols/

  warnings.warn(message, MissingPivotFunction)

In [ ]:
#https://github.com/influxdata/influxdb-client-python

In [4]:
dfs[0]

,result,table,_start,_stop,_time,_value,_field,_measurement
0,_result,0,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 10:51:27+00:00,15000002,block,0xc99a6a985ed2cac1ef41640596c5a5f9f4e19ef5
1,_result,0,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 10:51:30+00:00,15000003,block,0xc99a6a985ed2cac1ef41640596c5a5f9f4e19ef5
2,_result,0,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 10:51:42+00:00,15000007,block,0xc99a6a985ed2cac1ef41640596c5a5f9f4e19ef5
3,_result,0,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 10:51:51+00:00,15000010,block,0xc99a6a985ed2cac1ef41640596c5a5f9f4e19ef5
4,_result,0,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 10:51:57+00:00,15000012,block,0xc99a6a985ed2cac1ef41640596c5a5f9f4e19ef5
...,...,...,...,...,...,...,...,...
4136,_result,1,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 13:59:51+00:00,15003770,block,0xa8754b9fa15fc18bb59458815510e40a12cd2014
4137,_result,1,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 13:59:54+00:00,15003771,block,0xa8754b9fa15fc18bb59458815510e40a12cd2014
4138,_result,1,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 13:59:57+00:00,15003772,block,0xa8754b9fa15fc18bb59458815510e40a12cd2014
4139,_result,1,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 14:00:00+00:00,15003773,block,0xa8754b9fa15fc18bb59458815510e40a12cd2014
4140,_result,1,1745-09-14 02:20:21.616655+00:00,2022-09-29 01:40:54.031858+00:00,2022-06-30 14:00:03+00:00,15003774,block,0xa8754b9fa15fc18bb59458815510e40a12cd2014